body {
	font: 15px arial, helvetica, sans-serif;
	background: #2C498B;

}


nav{
		display: inline;
		background-color: #efe5d0;
		margin: 10px 10px 0px 10px;
		padding-left: auto;
		padding-right: auto;
		text-align: center;		
		font-style: none;
		text-decoration: none;
}
#container{
	display: table;
	border-spacing: 10px;
}	
#tablerow{
	display: table-row;

}
#firstcoll{
	display: table-cell;
	background-color:  #45609E;
	color: #C4D0ED;
	font-size: 100%;
	padding: 15px;
	width: 20%;
	margin: 0px 10px 10px 10px;	
	vertical-align: top;
	text-align: left;
	
	
}
#suprafirstcoll{
	
	display: table-cell;
	background-color:  #45609E;
	color: #C4D0ED;
	font-size: 100%;
	padding: 15px;
	top: 20%;
	width: 40%;
	margin: 0px 10px 10px 10px;	
	vertical-align: top;
	text-align: left;
	
	
}
#main{
	display: table-cell;
	background-color: #45609E;
	width: 100px;
	color: #C4D0ED;
	font-size: 100%;
	padding: 15px;
	margin: 0px 10px 10px 10px;
	vertical-align: top;
	text-align: justify;

}
#thirdcoll{
	display: table-cell;
	background-color:  #45609E;
	color: #C4D0ED;
	font-size: 100%;
	padding: 15px;
	width: 20%;
	margin: 0px 10px 10px 10px;	
	vertical-align: top;
	text-align: left;
	
}

a {
	color: #C4D0ED;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	background: #45609E;
	float: left;
	text-decoration: none;
}

li {
	float: left;
	display: inline;
	position: relative;
	width: 150px;
	list-style: none;
text-decoration: none;
}

ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	background: #92A6D5;
	display: none;
	text-decoration: none;
}

ul ul ul {
	left: 100%;
	top: 0;
	background: black;	 
	text-decoration: none;
}

li:hover > ul {
	display: block;
}

p {
	clear: left;
	padding-top: 1em;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	display: table-cell;
	right: 5px;
	top: 60px;
	max-width: 50%;
  	position: relative;
	margin:0px 5px 5px 5px;
	padding: 5px;
}

.slideshow-container1 {
	display: block;
	top: 60px;
	left: 50%
	width: 50%;
	max-width: 1000px;
  	position: relative;
	margin:0px 5px 5px 5px;
	padding: 5px;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  transition: background-color 1s ease;
}
.dot1 {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1s ease;
  }


  .active {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
	.text {font-size: 11px}
  }

#click{
	width: 150px;
	height: 40px;
	font-size: 30px;
	background-color: #92A6D5;
	border: none;
	color: white;
	text-decoration: none;
	text-align: center;
}
#click:hover{
	background-color: #45609E;
	color: #92A6D5;
}
#construction{

		position: absolute;
		width: 300px;
		height: 200px;
		z-index: 15;
		top: 400px;
		left: 650px;
		background: #2C498B;
	  }
#towTruck{
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	left: 350px;
	background: #2C498B;
}

#footer {
	background-color: #45609E;
	color: #C4D0ED;
	text-align: center;
	padding: 15px;
	margin: 10px;
	font-size: 90%;
}

